<%- include('partials/header') %>

<form action="/login" method="post">
    <div>
        <label >Username</label>
        <input type="text" name="username" id="">
    </div>

    <div>
        <label > Password</label>
        <input type="text" name="password" id="">
    </div>

    <button type="submit">login</button>
</form>


<%- include('partials/footer') %>